/*
split mode:
	sensor1 2xlane  MIPI_CSI_RX_D0-1  MIPI_CSI_RX_CLK0
	snesor2 2xlane  MIPI_CSI_RX_D2-3  MIPI_CSI_RX_CLK1
link:
	sensor1->csi_dphy1->isp_vir0
	sensor2->csi_dphy2->mipi_csi2->rkcif->isp_vir1
*/

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2m1_xfer>;

	/* split mode: lane:0/1 */
	gc2093: gc2093@37 {
        status = "okay";
		compatible = "galaxycore,gc2093";
		reg = <0x37>;
		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3568_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clk>;
	/*
        avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;
		pwdn-gpios = <&gpio1 RK_PD6 GPIO_ACTIVE_HIGH>;
    */
		reset-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			cam_gc2093_output: endpoint {
				remote-endpoint = <&csi2_dphy2_input>;
				data-lanes = <1 2>;
			};
		};
	};

    gc2053: gc2053@3f {
		compatible = "galaxycore,gc2053";
		reg = <0x3f>;
		status = "okay";
		power-domains = <&power RK3568_PD_VI>;
		clocks = <&pmucru CLK_WIFI>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&refclk_pins>;
	/*
        avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;
        pwdn-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
	*/
		reset-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			cam_gc2053_output: endpoint {
				remote-endpoint = <&csi2_dphy1_input>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy_hw {
      status = "okay";
};

&csi2_dphy0 {
	 status = "disabled";
};

&csi2_dphy1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2_dphy1_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&cam_gc2053_output>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2_dphy1_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&rkisp_vir0_input>;
			};
		};
	};
};

&csi2_dphy2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2_dphy2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&cam_gc2093_output>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2_dphy2_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&mipi_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csi2_dphy2_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&rkcif_mipi_lvds_input>;
				data-lanes = <1 2>;
			};
		};
	};
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		rkcif_mipi_lvds_input: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		rkisp_vir0_input: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csi2_dphy1_out>;
		};
	};
};

&rkcif_mmu {
    status = "okay";
};

&rkcif {
    status = "okay";
};

#if 0
&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp1_in>;
			data-lanes = <1 2>;
		};
	};
};

&rkisp_vir1 {
	status = "okay";

	port {
		//reg = <0>;
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};
#endif
